body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card1 {
    background-image: url(../images/card1.jpg);
    width: 506.65px;
    height: 328.28px;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Lato;
}

.card1div {
    width: 454.46px;
    height: 279.89px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card1header {
    display: flex;
}

.card2 {
    width: 302.97px;
    height: 240.96px;
    border: 1.57px solid #0882e0;
    background-image: url(../images/card2.jpg);
    filter: brightness(0.7);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: Poppins;
}

.card2texto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card2h1 {
    font-size: 40.81px;
    line-height: 40.18px;
    margin-bottom: 0px;
}

.card2h2 {
    font-size: 13.34px;
    line-height: 13.34px;
}

.card2img {
    width: 42.38px;
    height: 42.38px;
    border: 1.57px solid #0882e0;
    border-radius: 42.38px;
}

.card3cuadro {
    width: 270.4px;
    height: 123.34px;
    border: 0.95px solid #00aeff;
    color: #1a2b49;
    font-family: Lato;
    padding: 10px;
}

.card3 {
    display: flex;
    justify-content: space-between;
}

.card3h2 {
    font-size: 11.39px;
    margin: 0px;
    margin-top: 10px;
}

.card3h21 {
    font-size: 11.39px;
    margin: 0px;
}

.card3h1 {
    font-size: 22.77px;
    margin: 0px;
}

.card3h3 {
    font-size: 17.08px;
    margin: 0px;
}

.card3img {
    width: 77.8px;
    height: 27.82px;
    margin-top: 10px;
}

.card3precio {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

button {
    border-radius: 29.41px;
    color: #00aeff;
    border: 0.95px solid #00aeff;
    background-color: white;
    font-size: 15.18px;
    width: 96.78px;
    height: 40.8px;
}

.card4 {
    width: 146.51px;
    height: 246.32px;
    border: 1px solid black;
    font-family: Lato;
}

.card4foto {
    width: 146.51px;
    height: 158.03px;
    align-content: flex-start;
}

.card4verde {
    border: 0px;
    background-color: #32a636;
    font-size: 10.24px;
    width: 19.38px;
    height: 18.55px;
    border-radius: 2.56px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.card4bajo {
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
    margin-right: 10px;
}

.fair {
    color: grey;
    font-size: 10.24px;
    margin-right: 30px;
}

.card4texto {
    font-size: 11.52px;
    margin: 0px;
}

.card4dinero {
    font-size: 11.52px;
    color: #1a2b49;
    width: 26.23px;
}

.card4arriba {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.contenedor {
  border: 5px solid rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  padding: 20px 40px;
  width: 800px;
  border-radius: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.blanco {
  color: rgb(255, 255, 255);
  font-size: 36px;
}

.index {
    height: auto;
    width: 500px;
}

.X {
    border-bottom: 5px solid black;
    background-color: rgb(197, 197, 197);
    width: 1300px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}